{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="class="row justify-content-center">
    <div class="col-6-md" style="">
      <div class="card">
        <div class="card-header">
          Register
        </div>
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                  <span class="text-danger small">{{ field.errors }}</span>
                </div>
                <label class="control-lable col-sm-10">{{ field.label_tag  }}</label>
              <div class="col-sm-10">{{ field }}</div>
            </div>
            {% endfor %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success" >Submit</button>
              </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
