<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style media="screen">
      h2 b {
        font-size: 60%;
      }

      .link-text{
        color: #2d2d2d;
      }

      #id_student_admno,
      #id_student_gender,
      #id_student_classcode,
      #id_student_fullname,
      #id_student_firstname,
      #id_student_middlename,
      #id_student_lastname,
      #id_sport_played,
      #id_achievement,
      #id_year_participated{
        width: -webkit-fill-available;
      }

    </style>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <div class="jumbotron jumbotron-fluid" style="padding: 4rem 2rem 1.2rem; margin-bottom: 0px; background-color:#650320">
      <div class="container-fluid" style="padding-left:30px;">
        <div class="row">
          <div class="col-2-md col-12-sm" style="padding-right:20px;">
            {% load staticfiles %}
            <img src="{% static 'img/alexhigh_logo_blue_transparent.png' %}" alt="" style="height: 170px">
          </div>
          <div class="col-10-md col-12-sm" style="color:#5b9bd5;">
            <h1 class="display-4">Alexandra High School</h1>
            <p class="lead">Summa Diligentia Laboro</p>
            <h2>S<b>tudent</b> P<b>articipation and</b> A<b>chievement</b> D<b>atabase</b></h2>
            <div class="container-fluid" style="padding-left: 0px; padding-right:0px">
              <div class="row" style="padding-top:50px;">
                <div class="col-10">
                  Logged in as: {{ username }}
                </div>
                <div class="col-2">
                  {% if username %}
                    <a href="{% url 'students:logout_user' %}">Logout</a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-sm navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          {% if "students/login_form.html" not in template %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grade 8
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'students:students_all' "8A" %}">8A</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "8B" %}">8B</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "8C" %}">8C</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "8A" %}">8J</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "8B" %}">8L</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "8C" %}">8M</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grade 9
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'students:students_all' "9A" %}">9A</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "9B" %}">9B</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "9C" %}">9C</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "9A" %}">9J</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "9B" %}">9L</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "9C" %}">9M</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grade 10
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'students:students_all' "10A" %}">10A</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "10B" %}">10B</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "10C" %}">10C</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "10A" %}">10J</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "10B" %}">10L</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "10C" %}">10M</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grade 11
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'students:students_all' "11A" %}">11A</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "11B" %}">11B</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "11C" %}">11C</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "11A" %}">11J</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "11B" %}">11L</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "11C" %}">11M</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grade 12
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'students:students_all' "12A" %}">12A</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "12B" %}">12B</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "12C" %}">12C</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "12A" %}">12J</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "12B" %}">12L</a>
              <a class="dropdown-item" href="{% url 'students:students_all' "12C" %}">12M</a>
            </div>
          </li>
          {% endif %}
          {% if "students/sport_form.html" in template %}
          <li class="nav-item">
            <a class="nav-link" href="javascript:history.back()">Back to Details</a>
          </li>
          {% endif %}
          {% if "student_update_form.html" in template %}
          <li class="nav-item">
            <a class="nav-link" href="javascript:history.back()">Back to Details</a>
          </li>
          {% endif %}
        </ul>
        <span class="navbar-text">
          {% if "profile_all.html" in template %}
            <a class="nav-link" href="{% url 'students:create_student' %}">Add Student</a>
          {% elif "student_create_form.html" in template %}
            <a class="nav-link" href="{% url 'students:students_all' "8A" %}">Home</a>
          {% elif "profile_details.html" in template %}
            <a class="nav-link" href="{% url 'students:students_all' "8A" %}">Home</a>
          {% elif "students/sport_form.html" in template %}
            <a class="nav-link" href="{% url 'students:students_all' "8A" %}">Home</a>
          {% elif "student_update_form.html" in template %}
            <a class="nav-link" href="{% url 'students:students_all' "8A" %}">Home</a>
          {% endif %}
        </span>
        {% if username %}
        <form class="form-inline" action="{% url 'students:student_search' %}" method="GET">
          <input class="form-control mr-sm-2 my-sm-0 form-rounded" type="text" name="q" value="{{ request.GET.q }}" placeholder="search..">
        </form>
        {% endif %}
      </div>
    </nav>
    {% block content %}
    {% endblock %}
  </body>
</html>
